[http]
	sslVerify = false
[user]
	name = boundino
	email = boundino@gmail.com
[includeIf "gitdir:~/macrosc/xjjgww/"]
        path = ~/macrosc/xjjgww/.gitconfig

[core]
        askPass =
	excludesfile = ~/.gitignore
[color]
	ui = always
	branch = always
	status = always
[bash]
        showDirtyState = false