[http]
	sslVerify = false
[work]
	name = boundino
	email = boundino@gmail.com
	github = boundino
[personal]
	name = xjjgww
	email = xjjgww@gmail.com
	github = xjjgww
[includeIf "gitdir:~/myDir/"]
        path = ~/myDir/.gitconfig
[core]
        askPass =
	excludesfile = ~/.gitignore
[color]
	ui = always
	branch = always
	status = always
[bash]
        showDirtyState = false