[http]
	sslVerify = false
[user]
	name = boundino
	email = boundino@gmail.com
	github = boundino
[includeIf "gitdir:~/myDir/"]
        path = ~/myDir/.gitconfig
[core]
        askPass =
	excludesfile = ~/.gitignore
[color]
	ui = always
	branch = always
	status = always
[bash]
        showDirtyState = false